$sidebar-background: rgba(209, 209, 211, 0.7)

#sidebar-wrapper
  min-height: 100vh
  overflow: visible
  background-color: $sidebar-background
  position: fixed
  left: 0
  top: 0
  width: 8vw
  min-width: 80px
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center

  #icon
    margin-top: 1.5vh
    margin-bottom: 1.5vh
    align-self: center

    #icon-circle
      background-color: rgb(245, 245, 245)
      border-radius: 50%
      width: 80px
      height: 80px
      display: flex
      align-items: center

    #icon-text
      width: 100%
      text-align: center
      font-family: 'Racing Sans One', cursive
      font-size: 4.5rem

  #menu-items-wrapper
    width: 100%
    .menu-item
      display: flex
      flex-direction: column
      align-items: center

      .sidebar-block
        display: flex
        flex-direction: column
        width: 100%
        padding-top: 1.5vh
        padding-bottom: 1.5vh
        background-color: rgb(245, 245, 245)
        cursor: pointer
        position: relative
        z-index: 1

        .showOnHover
          visibility: hidden
          position: absolute
          left: calc(50% + 4vw)

          .sidebar-block-extended-text
            font-family: 'Raleway', sans-serif
            font-weight: 200
            font-size: 2rem


        &:hover
          width: 700%
          max-width: 700px

          .showOnHover
            visibility: visible

  .fa
    display: block
    font-size: 3rem
    visibility: visible
    align-self: center

  .sidebar-block-bottom
    bottom: 0
    width: 100%
    position: absolute
    background-color: rgb(245, 245, 245)

    .sidebar-block-half
      width: 50%
      display: inline-block

      .sidebar-block-social
        display: block
        text-align: center
        padding-top: 0.5vh
        padding-bottom: 0.5vh
        cursor: pointer

        .fa
          font-size: 16px