$sidebar-background: rgba(209, 209, 211, 0.7)

.second-sidebar
  width: 25px
  padding-left: 25px
  height: 100vh
  background-color: $sidebar-background
  position: fixed
  right: 0
  top: 0
  overflow: auto
  background-clip: content-box
  transition: width 500ms ease-in

  #sidebar-hider
    position: absolute
    left: 0px
    top: 50%
    background-color: black
    color: white
    padding-top: 5px
    padding-bottom: 5px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    cursor: pointer

    #hider-text
      writing-mode: vertical-rl
      transform: rotate(180deg)
      line-height: 25px

    //@media all and (max-width: 1000px)
    //  left: -250px

  .second-sidebar-wrapper
    font-family: 'Raleway', sans-serif

    #second-sidebar-title-wrapper
      background-color: whitesmoke
      display: flex
      align-items: center
      border-top: 5px solid black
      margin-bottom: 1.5vh
      height: 80px
      padding: 5px

    #second-sidebar-title
      margin: 0
      font-size: 20px
      width: 100%
      font-weight: 300

    #second-sidebar-facets-wrapper
      display: flex
      flex-direction: column

      .facet
        background: whitesmoke
        padding: 5px

        .facet-title, .fa
          display: inline
          font-size: 1.75rem
          padding: 5px
          cursor: pointer

        .facet-title
          font-weight: 500

        .facet-options
          padding: 5px

          #date-slider
            width: 80%
            margin-left: 10%
            margin-bottom: 15px

          .facet-options-toggle-cut-off
            cursor: pointer

          .facet-option-visible-true
            display: block

          .facet-option-visible-false
            display: none

          .facet-option
            .facet-option-icon-wrapper, .facet-option-label-wrapper
              display: inline

            .facet-option-label
              font-weight: 400
              font-size: 1.25rem

        .facet-options-visible-true
          display: block

        .facet-options-visible-false
          display: none



.second-sidebar-open

  @media screen and (max-width: 1000px)
    #documents-sidebar, #dossiers-sidebar
      width: 100px

.second-sidebar-closed
  overflow: hidden






