html {
  font-size: 11px;
  background: url("http://res.cloudinary.com/dnmxekyjo/image/upload/g_auto/w_auto,q_auto,f_auto/v1473796202/main-photo-document_m9zewt.jpg") no-repeat center center fixed; }

body {
  margin: 0;
  background-color: transparent; }

span {
  font-size: 1.5rem; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#main-container {
  min-height: 100vh;
  background-size: cover; }

.poldocs-button {
  border-radius: 0;
  border-top-right-radius: 5px;
  margin-right: 5px;
  color: #000000; }
  .poldocs-button:hover {
    background-color: whitesmoke;
    color: #000000;
    border-color: #d1d1d3; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.float-right {
  float: right; }

.no-styling-link, .no-styling-link:hover, .no-styling-link:active, .no-styling-link:visited, .no-styling-link:focus {
  text-decoration: none;
  color: inherit;
  padding: 0 !important; }

.looks-like-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }
  .looks-like-link.warning {
    color: orange; }

button.close span {
  font-size: 3rem; }

.loader1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0; }

.loader, .loader:before, .loader:after {
  background-color: black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  top: calc(50% - 4em); }

.loader {
  color: whitesmoke;
  background-color: whitesmoke;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s; }

.loader:before, .loader:after {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }
#outer-container {
  margin-left: 8vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }
  @media screen and (max-width: 1000px) {
    #outer-container #outer-container {
      margin-left: 80px;
      margin-right: 250px; } }
  #outer-container #list-container {
    background-color: rgba(209, 209, 211, 0.7);
    min-width: 400px;
    text-align: center;
    width: 100%;
    min-height: 100vh; }
    #outer-container #list-container #list-header {
      padding: 1rem; }
    #outer-container #list-container #list-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 1%; }
    #outer-container #list-container #list-h1 {
      margin: 0; }

.list-loaded-animation-enter {
  opacity: 0.1; }

.list-loaded-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.list-loaded-animation-leave {
  opacity: 1; }

.list-loaded-animation-leave-active {
  opacity: .1;
  transition: opacity 300ms ease-in; }
#doc-list-paginator-outer {
  margin-bottom: 2vh; }
  #doc-list-paginator-outer #doc-list-paginator-wrapper {
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    width: 50%;
    align-items: center; }
    #doc-list-paginator-outer #doc-list-paginator-wrapper .paginator-item:not(:last-child) {
      border-right: 1px solid black; }
    #doc-list-paginator-outer #doc-list-paginator-wrapper .paginator-item {
      display: inline;
      padding: .75rem;
      font-size: 1.75rem;
      flex-grow: 1;
      justify-content: center;
      cursor: pointer;
      width: 5vw; }
    #doc-list-paginator-outer #doc-list-paginator-wrapper .paginator-active {
      background-color: black;
      color: whitesmoke; }
#gutter {
  width: 1%; }

#list-item-width {
  width: 32%; }

#list-wrapper .list-item {
  text-align: left;
  display: inline-flex;
  width: 32%;
  margin-bottom: 2vh; }
  @media screen and (max-width: 1000px) {
    #list-wrapper .list-item #doc-container {
      width: calc(100vw - 330px); } }
  #list-wrapper .list-item table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #d8d8d8; }
    #list-wrapper .list-item table th {
      padding: 0.25rem;
      font-size: 1.1rem; }
    #list-wrapper .list-item table .list-item-title-row {
      background-color: whitesmoke;
      cursor: pointer; }
    #list-wrapper .list-item table .list-item-title-table-data {
      width: 100%; }
      #list-wrapper .list-item table .list-item-title-table-data .f32 .flag {
        float: right; }
    #list-wrapper .list-item table .file-type-icon {
      font-size: 3rem;
      margin-right: .25rem; }
  #list-wrapper .list-item .list-item-title {
    display: inline;
    font-size: 1.35rem; }

#list-wrapper .list-item-active {
  background-color: #d8d8d8;
  min-height: 75vh;
  width: 97%;
  flex-grow: 2;
  order: -1;
  border: 1px solid whitesmoke; }
  #list-wrapper .list-item-active .close-button-cell {
    vertical-align: top; }
    #list-wrapper .list-item-active .close-button-cell span {
      font-size: 2.5rem; }
  #list-wrapper .list-item-active .search-result-active {
    width: 40%;
    float: right;
    border: none !important; }
    #list-wrapper .list-item-active .search-result-active th {
      padding: 0.75rem;
      vertical-align: top; }
    #list-wrapper .list-item-active .search-result-active .list-item-title-row th {
      vertical-align: middle; }
  #list-wrapper .list-item-active iframe, #list-wrapper .list-item-active #timeline, #list-wrapper .list-item-active #opgemaakt-html {
    width: 60%;
    float: left; }

#opgemaakt-html {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 0.5em; }
  #opgemaakt-html .dossiertitel .dossiernummer {
    display: block; }
  #opgemaakt-html .stuk .stuktitel .stuknummer {
    display: block; }
.dossier-list-contains-document-full-view {
  display: block !important; }

.timeline-document-full-view {
  margin: 0;
  width: 100% !important; }

#timeline {
  list-style-type: none;
  position: relative;
  margin: 0 auto;
  padding: 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 50% 0;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid whitesmoke; }
  #timeline .timeline-header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: whitesmoke;
    border: 1px solid black;
    clear: both; }

.timeline-item {
  display: block;
  width: 45%;
  position: relative;
  float: right;
  clear: right;
  margin: 1em 2.5%;
  list-style-type: none;
  background-color: whitesmoke;
  border: 1px solid black; }
  .timeline-item .timeline-item-data-item {
    width: 100%;
    padding: 5px; }
    .timeline-item .timeline-item-data-item.timeline-label {
      background-color: #d8d8d8;
      font-size: 1.25rem;
      font-weight: 500; }
    .timeline-item .timeline-item-data-item .timeline-event-date {
      font-size: 1.25rem;
      font-weight: 600; }
  @media all and (max-width: 600px) {
    .timeline-item {
      width: 85%; } }

.timeline-item:nth-child(even) {
  float: left;
  clear: left; }

@media all and (min-width: 600px) {
  .timeline-item:nth-child(odd) {
    margin-top: 4em; } }

.timeline-item:after {
  position: absolute;
  left: -20px;
  top: 50%;
  content: '   ';
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent; }

.timeline-item:nth-child(even):after {
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  left: 100%; }
#content-container-home {
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center; }
  #content-container-home #home-modal {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.9);
    width: 80%;
    max-width: 1000px;
    border-top-right-radius: 25px;
    padding: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-bottom: 3vh; }

@media screen and (max-width: 1000px) {
  #content-container-home {
    margin-left: 80px; } }

#h1-home {
  margin-top: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 6rem; }

#tagline {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-top: 0;
  font-size: 2.5rem; }

#front-search {
  width: 80%;
  max-width: 700px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  position: relative; }
  #front-search #home-search-input {
    width: 95%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-style: dotted;
    background-color: whitesmoke; }
    #front-search #home-search-input:focus {
      outline: none; }
    #front-search #home-search-input.suggestionsAvailable {
      border-bottom-left-radius: 0; }
  #front-search #home-search-submit {
    display: inline-flex;
    justify-content: center;
    height: 100%;
    width: 5%;
    background-color: #000000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer; }
    #front-search #home-search-submit.suggestionsAvailable {
      border-bottom-right-radius: 0; }
    #front-search #home-search-submit .fa-search {
      color: whitesmoke;
      align-self: center;
      font-size: 2rem; }

.homepageSuggestions-wrapper {
  width: 80%;
  max-width: 700px;
  background-color: whitesmoke;
  border-left: 1px solid black;
  border-right: 1px solid black; }
  .homepageSuggestions-wrapper .homepageSuggestion {
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center; }
    .homepageSuggestions-wrapper .homepageSuggestion .result-icon {
      padding: 15px;
      font-size: 3rem; }
    .homepageSuggestions-wrapper .homepageSuggestion .result-meta {
      padding: 5px; }
      .homepageSuggestions-wrapper .homepageSuggestion .result-meta .suggestionMetaItem {
        margin: 0;
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        font-size: 1.25rem; }
        .homepageSuggestions-wrapper .homepageSuggestion .result-meta .suggestionMetaItem .searchHit {
          color: #2a3fde; }

.hint {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 3%;
  max-width: 600px;
  text-align: justify; }
  .hint.suggestionsAvailable {
    display: none; }
#search-container {
  background-color: rgba(209, 209, 211, 0.7);
  width: 100%;
  min-height: 100vh; }

#query-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh; }
  #query-builder .poldocs-button {
    float: right;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 5px; }
  #query-builder .query-builder-title {
    text-align: center;
    width: 100%;
    padding: 1rem; }
    #query-builder .query-builder-title .fa-search {
      margin-left: 5px; }
  #query-builder #query-builder-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #query-builder #query-builder-page-container #query-builder-page-wrapper {
      width: 75%;
      min-width: 75%;
      background-color: whitesmoke;
      position: relative; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper h2 {
        text-align: center;
        margin-bottom: 3rem; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper .on-off-slider {
        position: relative;
        width: 7rem;
        height: 3rem;
        background: black;
        border-radius: 10px; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper .on-off-slider:before {
          position: absolute;
          color: #ccffcc;
          font-size: 1rem;
          line-height: 1rem;
          top: calc(50% - 0.5rem);
          left: 0.75rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper .on-off-slider:after {
          position: absolute;
          color: red;
          font-size: 1rem;
          line-height: 1rem;
          top: calc(50% - 0.5rem);
          right: 1rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper .on-off-slider input[type="checkbox"] + label {
          display: block;
          width: 3rem;
          height: 2.5rem;
          top: calc(50% - 1.25rem);
          left: 0.25rem;
          cursor: pointer;
          position: absolute;
          border-radius: 7.5px;
          z-index: 1;
          background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
          transition: all 0.4s ease; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper .on-off-slider input[type="checkbox"]:checked + label {
          left: 3.5rem;
          transition: all 0.4s ease; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-paginator {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 70%;
        margin: 2rem 15%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-paginator #query-builder-paginator-line {
          position: absolute;
          top: calc(50% - 3px);
          width: 100%;
          height: 3px;
          background-color: black;
          z-index: 1; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-paginator .query-builder-paginator-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          background-color: whitesmoke;
          text-align: center;
          border: 1px solid black;
          border-radius: 50%;
          z-index: 2; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-paginator .query-builder-paginator-circle span {
            font-size: 2rem;
            font-weight: 400; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-paginator .query-builder-paginator-circle-active {
          background-color: black;
          color: white; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector input[type="checkbox"] {
        visibility: hidden; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector label i {
        font-size: 3.5rem;
        text-align: center; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections .icons, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source .icons, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 .icons {
          display: flex;
          justify-content: center;
          width: 75%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections .source-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source .source-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 .source-item {
          display: block; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections input[type="checkbox"] + .collection-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source input[type="checkbox"] + .collection-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 input[type="checkbox"] + .collection-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          background-color: #ccffcc;
          border: 1px solid green;
          box-shadow: 5px 5px 5px #92ce92;
          margin: 1rem;
          padding: 1rem; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections input[type="checkbox"] + .collection-item span, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source input[type="checkbox"] + .collection-item span, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 input[type="checkbox"] + .collection-item span {
            color: black;
            text-align: center; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-collections input[type="checkbox"]:checked + .collection-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1-select-source input[type="checkbox"]:checked + .collection-item, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 input[type="checkbox"]:checked + .collection-item {
          background-color: rgba(253, 3, 3, 0.24);
          border: 1px solid red;
          box-shadow: 5px 5px 5px rgba(253, 3, 3, 0.24); }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-3-select-document-type, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 .on-off-slider:before, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-3-select-document-type .on-off-slider:before, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 .on-off-slider:before {
          content: 'YES'; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-1 .on-off-slider:after, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-3-select-document-type .on-off-slider:after, #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 .on-off-slider:after {
          content: 'NO'; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection-wrapper {
        display: flex;
        margin: 0.5rem; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection {
        width: 50%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .search-for-type {
          padding-left: 1rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-level-label {
          padding-left: 2rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-level {
          width: 50%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items {
          padding-left: 3rem; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items .page2-selector-item {
            width: 100%; }
            #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items .page2-selector-item .fa {
              float: right;
              font-size: 1rem; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items input {
            display: none; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items input[type="checkbox"] + .page2-selector-item {
            border: 1px solid red; }
            #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items input[type="checkbox"] + .page2-selector-item .fa {
              color: red; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items input[type="checkbox"]:checked + .page2-selector-item {
            border: 1px solid green; }
            #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-items input[type="checkbox"]:checked + .page2-selector-item .fa {
              color: green; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-level-toggle-cut-off {
          float: right; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .page3-selector-collection .page2-selector-level-wrapper {
          display: flex; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container {
        display: flex;
        flex-wrap: wrap; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container .date-selector-wrapper {
          width: 33%; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container .date-selector-wrapper .date-pickers {
            display: flex;
            justify-content: center; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container .date-selector-wrapper input[type="checkbox"] + label {
            display: flex;
            flex-direction: column;
            min-height: 10vh;
            align-items: center;
            background-color: rgba(253, 3, 3, 0.24);
            border: 1px solid red;
            box-shadow: 5px 5px 5px rgba(253, 3, 3, 0.24);
            margin: 1rem;
            padding: 1rem; }
            #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container .date-selector-wrapper input[type="checkbox"] + label span {
              color: black;
              text-align: center; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-4 #date-selectors-container .date-selector-wrapper input[type="checkbox"]:checked + label {
            background-color: #ccffcc;
            border: 1px solid green;
            box-shadow: 5px 5px 5px #92ce92; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 {
        margin-bottom: 1rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 .selected-author-item {
          display: inline-flex;
          background-color: #ccffcc;
          border: 1px solid green;
          box-shadow: 5px 5px 5px #92ce92;
          width: 25%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #suggested-authors {
          width: 50%; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #suggested-authors .suggested-author-item {
            border: 1px solid black;
            width: 100%; }
            #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #suggested-authors .suggested-author-item:hover {
              background-color: white; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #allow-null-values-checkbox {
          display: flex;
          flex-direction: column;
          align-items: center; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #author-search-field-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center; }
          #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector #query-builder-selector-page-5 #author-search-field-wrapper input[type="text"] {
            width: 150px; }
      #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .query-builder-buttons {
        bottom: 0;
        padding-bottom: 1rem;
        width: 100%; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .query-builder-buttons .float-left {
          float: left; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .query-builder-buttons .warning-text {
          color: red;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
          margin-bottom: 1rem; }
        #query-builder #query-builder-page-container #query-builder-page-wrapper #query-builder-selector .query-builder-buttons .poldocs-button-disabled {
          opacity: .5;
          cursor: not-allowed; }

#query-builder-selector-page-1 .page1-simple-search-choices {
  width: 50%;
  display: flex;
  flex-wrap: wrap; }
  #query-builder-selector-page-1 .page1-simple-search-choices input {
    display: none; }
  #query-builder-selector-page-1 .page1-simple-search-choices .page1-search-attribute-choice {
    width: 50%; }
    #query-builder-selector-page-1 .page1-simple-search-choices .page1-search-attribute-choice input[type="checkbox"] + label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid green;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      position: relative; }
      #query-builder-selector-page-1 .page1-simple-search-choices .page1-search-attribute-choice input[type="checkbox"] + label:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 5%;
        line-height: 1rem;
        top: calc(50% - 0.5rem);
        color: green;
        content: "\F00C"; }
    #query-builder-selector-page-1 .page1-simple-search-choices .page1-search-attribute-choice input[type="checkbox"]:checked + label {
      border: 2px solid red; }
      #query-builder-selector-page-1 .page1-simple-search-choices .page1-search-attribute-choice input[type="checkbox"]:checked + label:after {
        content: "\F00D";
        color: red; }

#query-builder-selector-page-1 .page1-simple-search {
  min-width: 50%; }
  #query-builder-selector-page-1 .page1-simple-search .page1-simple-search-text-field-container {
    display: flex; }
    #query-builder-selector-page-1 .page1-simple-search .page1-simple-search-text-field-container .page1-simple-search-text-field-wrapper {
      width: 50%; }
      #query-builder-selector-page-1 .page1-simple-search .page1-simple-search-text-field-container .page1-simple-search-text-field-wrapper #page1-simple-search-text-field {
        width: 100%;
        height: 100%; }

#query-builder-selector-page-1 #page1-advanced-search {
  width: 80%;
  background-color: whitesmoke;
  border: 1px solid black;
  margin-top: 2rem; }
  #query-builder-selector-page-1 #page1-advanced-search #advanced-search-controls {
    background-color: black;
    color: white;
    width: 100%;
    padding: 0.5rem 2rem; }
    #query-builder-selector-page-1 #page1-advanced-search #advanced-search-controls h3 {
      display: inline-block; }
    #query-builder-selector-page-1 #page1-advanced-search #advanced-search-controls #advanced-search-new-group {
      float: right; }
  #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group {
    width: 100%;
    padding: 0.5rem 2rem; }
    #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-controls h4 {
      display: inline-block; }
    #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-controls .advanced-search-edit-group, #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-controls .advanced-search-delete-group {
      float: right; }
    #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-controls .page1-simple-search-choices .page1-search-attribute-choice {
      width: 25%; }
    #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-relation .group-relation-choice-radio-wrapper {
      display: inline-block; }
    #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element {
      margin-top: 1rem;
      margin-left: 1rem; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element h5 {
        display: inline-block; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-delete-group {
        float: right; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-text {
        margin-left: 1rem; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .element-relation-choice-radio-wrapper {
        display: inline-block; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-choices {
        display: inline-block;
        margin-right: 1rem; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-choices .choice-radio-wrapper {
          display: inline-block; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-choices .advanced-search-group-elements-choice {
          border: 1px solid black; }
      #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras {
        display: inline-block; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras .extra-checkbox-wrapper {
          display: inline-block; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras input[type="checkbox"] {
          display: none; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras input[type="checkbox"] + label {
          border: 2px solid red;
          padding: 5px;
          width: 100%;
          height: 100%;
          padding-right: 2rem;
          position: relative; }
          #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras input[type="checkbox"] + label:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            right: 5%;
            line-height: 1rem;
            top: calc(50% - 0.5rem);
            color: red;
            content: "\F00D"; }
        #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras input[type="checkbox"]:checked + label {
          border: 2px solid green; }
          #query-builder-selector-page-1 #page1-advanced-search .page1-advanced-search-group .advanced-search-group-element .advanced-search-group-element-extras input[type="checkbox"]:checked + label:after {
            content: "\F00C";
            color: green; }

.query-builder-logged-in {
  width: 15% !important;
  position: absolute;
  align-items: center; }
  .query-builder-logged-in .query-builder-title {
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -25%; }
    .query-builder-logged-in .query-builder-title .vertical-text .rotate {
      display: block; }

#saved-searches {
  display: inline-block;
  width: 70vw;
  background-color: rgba(209, 209, 211, 0.7);
  height: 75vh; }
  #saved-searches #saved-searches-title {
    width: 92.5%;
    left: 0;
    background-color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    padding: 15px; }
  #saved-searches #saved-searches-list .search-list-item {
    border: 1px solid black;
    width: calc(92.5% / 3); }
    #saved-searches #saved-searches-list .search-list-item .search-list-item-title {
      background-color: whitesmoke; }
#sidebar-wrapper {
  min-height: 100vh;
  overflow: visible;
  background-color: rgba(209, 209, 211, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 8vw;
  min-width: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #sidebar-wrapper #icon {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    align-self: center; }
    #sidebar-wrapper #icon #icon-circle {
      background-color: whitesmoke;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center; }
    #sidebar-wrapper #icon #icon-text {
      width: 100%;
      text-align: center;
      font-family: 'Racing Sans One', cursive;
      font-size: 4.5rem; }
  #sidebar-wrapper #menu-items-wrapper {
    width: 100%; }
    #sidebar-wrapper #menu-items-wrapper .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #sidebar-wrapper #menu-items-wrapper .menu-item .sidebar-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        background-color: whitesmoke;
        cursor: pointer;
        position: relative;
        z-index: 1; }
        #sidebar-wrapper #menu-items-wrapper .menu-item .sidebar-block .showOnHover {
          visibility: hidden;
          position: absolute;
          left: calc(50% + 4vw); }
          #sidebar-wrapper #menu-items-wrapper .menu-item .sidebar-block .showOnHover .sidebar-block-extended-text {
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 2rem; }
        #sidebar-wrapper #menu-items-wrapper .menu-item .sidebar-block:hover {
          width: 700%;
          max-width: 700px; }
          #sidebar-wrapper #menu-items-wrapper .menu-item .sidebar-block:hover .showOnHover {
            visibility: visible; }
  #sidebar-wrapper .fa {
    display: block;
    font-size: 3rem;
    visibility: visible;
    align-self: center; }
  #sidebar-wrapper .sidebar-block-bottom {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: whitesmoke; }
    #sidebar-wrapper .sidebar-block-bottom .sidebar-block-half {
      width: 50%;
      display: inline-block; }
      #sidebar-wrapper .sidebar-block-bottom .sidebar-block-half .sidebar-block-social {
        display: block;
        text-align: center;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        cursor: pointer; }
        #sidebar-wrapper .sidebar-block-bottom .sidebar-block-half .sidebar-block-social .fa {
          font-size: 16px; }
.second-sidebar {
  width: 25px;
  padding-left: 25px;
  height: 100vh;
  background-color: rgba(209, 209, 211, 0.7);
  position: fixed;
  right: 0;
  top: 0;
  overflow: auto;
  background-clip: content-box;
  transition: width 500ms ease-in; }
  .second-sidebar #sidebar-hider {
    position: absolute;
    left: 0px;
    top: 50%;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer; }
    .second-sidebar #sidebar-hider #hider-text {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      line-height: 25px; }
  .second-sidebar .second-sidebar-wrapper {
    font-family: 'Raleway', sans-serif; }
    .second-sidebar .second-sidebar-wrapper #second-sidebar-title-wrapper {
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      border-top: 5px solid black;
      margin-bottom: 1.5vh;
      height: 80px;
      padding: 5px; }
    .second-sidebar .second-sidebar-wrapper #second-sidebar-title {
      margin: 0;
      font-size: 20px;
      width: 100%;
      font-weight: 300; }
    .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper {
      display: flex;
      flex-direction: column; }
      .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet {
        background: whitesmoke;
        padding: 5px; }
        .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-title, .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .fa {
          display: inline;
          font-size: 1.75rem;
          padding: 5px;
          cursor: pointer; }
        .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-title {
          font-weight: 500; }
        .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options {
          padding: 5px; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options #date-slider {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 15px; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-options-toggle-cut-off {
            cursor: pointer; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-option-visible-true {
            display: block; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-option-visible-false {
            display: none; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-option .facet-option-icon-wrapper, .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-option .facet-option-label-wrapper {
            display: inline; }
          .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options .facet-option .facet-option-label {
            font-weight: 400;
            font-size: 1.25rem; }
        .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options-visible-true {
          display: block; }
        .second-sidebar .second-sidebar-wrapper #second-sidebar-facets-wrapper .facet .facet-options-visible-false {
          display: none; }

@media screen and (max-width: 1000px) {
  .second-sidebar-open #documents-sidebar, .second-sidebar-open #dossiers-sidebar {
    width: 100px; } }

.second-sidebar-closed {
  overflow: hidden; }
.poldocs-modal .modal-content {
  background-color: #000000;
  color: whitesmoke;
  border-radius: 0;
  border-top-right-radius: 25px;
  font-family: 'Exo', sans-serif;
  font-weight: 300; }
  .poldocs-modal .modal-content .modal-header {
    text-align: center; }
    .poldocs-modal .modal-content .modal-header .close {
      color: whitesmoke;
      opacity: 1; }
    .poldocs-modal .modal-content .modal-header .modal-title {
      font-weight: 300;
      font-size: 2.5rem; }
  .poldocs-modal .modal-content .modal-body .alert {
    font-size: 2rem;
    padding: 10px; }
    .poldocs-modal .modal-content .modal-body .alert .fa {
      margin-right: 1rem; }
  .poldocs-modal .modal-content #modal-body-log-in-options {
    display: flex; }
    .poldocs-modal .modal-content #modal-body-log-in-options #log-in-form {
      width: 45%;
      font-weight: 200; }
    .poldocs-modal .modal-content #modal-body-log-in-options #modal-body-log-in-social-strategies {
      width: 45%;
      margin-left: 5%;
      margin-top: 24px; }
      .poldocs-modal .modal-content #modal-body-log-in-options #modal-body-log-in-social-strategies #linkedInButtonWrapper {
        max-width: 100%;
        text-align: center;
        cursor: pointer; }
        .poldocs-modal .modal-content #modal-body-log-in-options #modal-body-log-in-social-strategies #linkedInButtonWrapper #linkedInLogIn {
          height: 35px; }
