@font-face {
	font-family: 'hawcons';
	src:url('fonts/hawcons.eot?3cebru');
	src:url('fonts/hawcons.eot?#iefix3cebru') format('embedded-opentype'),
		url('fonts/hawcons.woff?3cebru') format('woff'),
		url('fonts/hawcons.ttf?3cebru') format('truetype'),
		url('fonts/hawcons.svg?3cebru#hawcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hawcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon--mail-envelope:before {
	content: "\e600";
}
.icon-icon--mail-envelope-open:before {
	content: "\e601";
}
.icon-icon--mail-envelope-closed:before {
	content: "\e602";
}
.icon-icon--mail-envelope-open:before {
	content: "\e603";
}
.icon-icon--mail-envelope-open:before {
	content: "\e604";
}
.icon-icon--mail-envelope-closed:before {
	content: "\e605";
}
.icon-icon--mail-envelope-open:before {
	content: "\e606";
}
.icon-icon--mail-error:before {
	content: "\e607";
}
.icon-icon--mail-checked:before {
	content: "\e608";
}
.icon-icon--mail-cancel:before {
	content: "\e609";
}
.icon-icon--mail--forbidden:before {
	content: "\e60a";
}
.icon-icon--mail-add:before {
	content: "\e60b";
}
.icon-icon--mail-remove:before {
	content: "\e60c";
}
.icon-icon--flag:before {
	content: "\e60d";
}
.icon-icon--flag:before {
	content: "\e60e";
}
.icon-icon--flag:before {
	content: "\e60f";
}
.icon-icon--flag:before {
	content: "\e610";
}
.icon-icon--bookmark:before {
	content: "\e611";
}
.icon-icon--bookmark-add:before {
	content: "\e612";
}
.icon-icon--bookmark-remove:before {
	content: "\e613";
}
.icon-icon--eye-hidden:before {
	content: "\e614";
}
.icon-icon--eye:before {
	content: "\e615";
}
.icon-icon--star:before {
	content: "\e616";
}
.icon-icon--key:before {
	content: "\e617";
}
.icon-icon--key:before {
	content: "\e618";
}
.icon-icon--trash-can:before {
	content: "\e619";
}
.icon-icon--trash-can:before {
	content: "\e61a";
}
.icon-icon--information:before {
	content: "\e61b";
}
.icon-icon--information:before {
	content: "\e61c";
}
.icon-icon--book:before {
	content: "\e61d";
}
.icon-icon--book-bookmark:before {
	content: "\e61e";
}
.icon-icon--clipboard-edit:before {
	content: "\e61f";
}
.icon-icon--clipboard-add:before {
	content: "\e620";
}
.icon-icon--clipboard-remove:before {
	content: "\e621";
}
.icon-icon--clipboard:before {
	content: "\e622";
}
.icon-icon--clipboard-download:before {
	content: "\e623";
}
.icon-icon--clipboard-upload:before {
	content: "\e624";
}
.icon-icon--clipboard-checked:before {
	content: "\e625";
}
.icon-icon--clipboard-text:before {
	content: "\e626";
}
.icon-icon--clipboard-list:before {
	content: "\e627";
}
.icon-icon--note:before {
	content: "\e628";
}
.icon-icon--note-add:before {
	content: "\e629";
}
.icon-icon--note-remove:before {
	content: "\e62a";
}
.icon-icon--note-text:before {
	content: "\e62b";
}
.icon-icon--note-list:before {
	content: "\e62c";
}
.icon-icon--note-checked:before {
	content: "\e62d";
}
.icon-icon--note-important:before {
	content: "\e62e";
}
.icon-icon--notebook:before {
	content: "\e62f";
}
.icon-icon--notebook:before {
	content: "\e630";
}
.icon-icon--notebook:before {
	content: "\e631";
}
.icon-icon--notebook:before {
	content: "\e632";
}
.icon-icon--notebook-text:before {
	content: "\e633";
}
.icon-icon--notebook-list:before {
	content: "\e634";
}
.icon-icon--document:before {
	content: "\e635";
}
.icon-icon--document-text:before {
	content: "\e636";
}
.icon-icon--document-text:before {
	content: "\e637";
}
.icon-icon--document-download:before {
	content: "\e638";
}
.icon-icon--document-upload:before {
	content: "\e639";
}
.icon-icon--document-bookmark:before {
	content: "\e63a";
}
.icon-icon--document-diagrams:before {
	content: "\e63b";
}
.icon-icon--document-recording:before {
	content: "\e63c";
}
.icon-icon--document-table:before {
	content: "\e63d";
}
.icon-icon--document-music:before {
	content: "\e63e";
}
.icon-icon--document-movie:before {
	content: "\e63f";
}
.icon-icon--document-play:before {
	content: "\e640";
}
.icon-icon--document-graph:before {
	content: "\e641";
}
.icon-icon--document-time:before {
	content: "\e642";
}
.icon-icon--document-text:before {
	content: "\e643";
}
.icon-icon--document-code:before {
	content: "\e644";
}
.icon-icon--document-cloud:before {
	content: "\e645";
}
.icon-icon--documents:before {
	content: "\e646";
}
.icon-icon--documents:before {
	content: "\e647";
}
.icon-icon--document-search:before {
	content: "\e648";
}
.icon-icon--document-star:before {
	content: "\e649";
}
.icon-icon--document-unlocked:before {
	content: "\e64a";
}
.icon-icon--document-locked:before {
	content: "\e64b";
}
.icon-icon--document-error:before {
	content: "\e64c";
}
.icon-icon--document-cancel:before {
	content: "\e64d";
}
.icon-icon--document-checked:before {
	content: "\e64e";
}
.icon-icon--document-add:before {
	content: "\e64f";
}
.icon-icon--document-remove:before {
	content: "\e650";
}
.icon-icon--document-forbidden:before {
	content: "\e651";
}
.icon-icon--document-information:before {
	content: "\e652";
}
.icon-icon--folder-information:before {
	content: "\e653";
}
.icon-icon--document-list:before {
	content: "\e654";
}
.icon-icon--document-font:before {
	content: "\e655";
}
.icon-icon--inbox:before {
	content: "\e656";
}
.icon-icon--inboxes:before {
	content: "\e657";
}
.icon-icon--inbox-document:before {
	content: "\e658";
}
.icon-icon--inbox-document-text:before {
	content: "\e659";
}
.icon-icon--inbox-download:before {
	content: "\e65a";
}
.icon-icon--inbox-upload:before {
	content: "\e65b";
}
.icon-icon--folder:before {
	content: "\e65c";
}
.icon-icon--folder:before {
	content: "\e65d";
}
.icon-icon--folders:before {
	content: "\e65e";
}
.icon-icon--folder-download:before {
	content: "\e65f";
}
.icon-icon--folder-upload:before {
	content: "\e660";
}
.icon-icon--folder-unlocked:before {
	content: "\e661";
}
.icon-icon--folder-locked:before {
	content: "\e662";
}
.icon-icon--folder-search:before {
	content: "\e663";
}
.icon-icon--folder-error:before {
	content: "\e664";
}
.icon-icon--folder-cancel:before {
	content: "\e665";
}
.icon-icon--folder-checked:before {
	content: "\e666";
}
.icon-icon--folder-add:before {
	content: "\e667";
}
.icon-icon--folder-remove:before {
	content: "\e668";
}
.icon-icon--folder-forbidden:before {
	content: "\e669";
}
.icon-icon--folder-bookmark:before {
	content: "\e66a";
}
.icon-icon--document-zip:before {
	content: "\e66b";
}
.icon-icon--zip:before {
	content: "\e66c";
}
.icon-icon--search:before {
	content: "\e66d";
}
.icon-icon--search-plus:before {
	content: "\e66e";
}
.icon-icon--search-minus:before {
	content: "\e66f";
}
.icon-icon--lock:before {
	content: "\e670";
}
.icon-icon--lock-open:before {
	content: "\e671";
}
.icon-icon--lock-open:before {
	content: "\e672";
}
.icon-icon--lock-stripes:before {
	content: "\e673";
}
.icon-icon--lock-rounded:before {
	content: "\e674";
}
.icon-icon--lock-rounded-open:before {
	content: "\e675";
}
.icon-icon--lock-rounded-open:before {
	content: "\e676";
}
.icon-icon--combination-lock:before {
	content: "\e677";
}
.icon-icon--printer:before {
	content: "\e678";
}
.icon-icon--printer:before {
	content: "\e679";
}
.icon-icon--printer-text:before {
	content: "\e67a";
}
.icon-icon--printer-text:before {
	content: "\e67b";
}
.icon-icon--document-shred:before {
	content: "\e67c";
}
.icon-icon--shredder:before {
	content: "\e67d";
}
.icon-icon--document-scan:before {
	content: "\e67e";
}
.icon-icon--cloud-download:before {
	content: "\e67f";
}
.icon-icon--cloud-upload:before {
	content: "\e680";
}
.icon-icon--cloud-error:before {
	content: "\e681";
}
.icon-icon--cloud:before {
	content: "\e682";
}
.icon-icon--inbox-filled:before {
	content: "\e683";
}
.icon-icon--pen:before {
	content: "\e684";
}
.icon-icon--pen-angled:before {
	content: "\e685";
}
.icon-icon--document-edit:before {
	content: "\e686";
}
.icon-icon--document-certificate:before {
	content: "\e687";
}
.icon-icon--certificate:before {
	content: "\e688";
}
.icon-icon--package:before {
	content: "\e689";
}
.icon-icon--box:before {
	content: "\e68a";
}
.icon-icon--box-filled:before {
	content: "\e68b";
}
.icon-icon--box:before {
	content: "\e68c";
}
.icon-icon--box:before {
	content: "\e68d";
}
.icon-icon--box-bookmark:before {
	content: "\e68e";
}
.icon-icon--tag-cord:before {
	content: "\e68f";
}
.icon-icon--tag:before {
	content: "\e690";
}
.icon-icon--tags:before {
	content: "\e691";
}
.icon-icon--tag-add:before {
	content: "\e692";
}
.icon-icon--tag-remove:before {
	content: "\e693";
}
.icon-icon--tag-checked:before {
	content: "\e694";
}
.icon-icon--tag-cancel:before {
	content: "\e695";
}
.icon-icon--paperclip:before {
	content: "\e696";
}
.icon-icon--basketball:before {
	content: "\e697";
}
.icon-icon--baseball:before {
	content: "\e698";
}
.icon-icon--tennis-ball:before {
	content: "\e699";
}
.icon-icon--bowling-ball:before {
	content: "\e69a";
}
.icon-icon--billiard-ball:before {
	content: "\e69b";
}
.icon-icon--soccer-ball:before {
	content: "\e69c";
}
.icon-icon--soccer-court:before {
	content: "\e69d";
}
.icon-icon--football:before {
	content: "\e69e";
}
.icon-icon--football:before {
	content: "\e69f";
}
.icon-icon--basketball:before {
	content: "\e6a0";
}
.icon-icon--baseball-set:before {
	content: "\e6a1";
}
.icon-icon--tennis-ball:before {
	content: "\e6a2";
}
.icon-icon--trophy:before {
	content: "\e6a3";
}
.icon-icon--trophy-one:before {
	content: "\e6a4";
}
.icon-icon--trophy:before {
	content: "\e6a5";
}
.icon-icon--medal:before {
	content: "\e6a6";
}
.icon-icon--medal:before {
	content: "\e6a7";
}
.icon-icon--weights:before {
	content: "\e6a8";
}
.icon-icon--tennis-racket:before {
	content: "\e6a9";
}
.icon-icon--basketball-hoop:before {
	content: "\e6aa";
}
.icon-icon--table-tennis:before {
	content: "\e6ab";
}
.icon-icon--volleyball:before {
	content: "\e6ac";
}
.icon-icon--stop-watch:before {
	content: "\e6ad";
}
.icon-icon--stop-watch:before {
	content: "\e6ae";
}
.icon-icon--hockey-stick:before {
	content: "\e6af";
}
.icon-icon--hockey-sticks:before {
	content: "\e6b0";
}
.icon-icon--shuttlecock:before {
	content: "\e6b1";
}
.icon-icon--golf:before {
	content: "\e6b2";
}
.icon-icon--move:before {
	content: "\e6b3";
}
.icon-icon--clipboard-move:before {
	content: "\e6b4";
}
.icon-icon--award:before {
	content: "\e6b5";
}
.icon-icon--award:before {
	content: "\e6b6";
}
.icon-icon--award:before {
	content: "\e6b7";
}
.icon-icon--award:before {
	content: "\e6b8";
}
.icon-icon--medal:before {
	content: "\e6b9";
}
.icon-icon--medal:before {
	content: "\e6ba";
}
.icon-icon--boxing-glove:before {
	content: "\e6bb";
}
.icon-icon--whistle:before {
	content: "\e6bc";
}
.icon-icon--volleyball-water:before {
	content: "\e6bd";
}
.icon-icon--checkered-flag:before {
	content: "\e6be";
}
.icon-icon--target-arrow:before {
	content: "\e6bf";
}
.icon-icon--target:before {
	content: "\e6c0";
}
.icon-icon--sailing-boat:before {
	content: "\e6c1";
}
.icon-icon--sailing-boat-water:before {
	content: "\e6c2";
}
.icon-icon--bowling-pins:before {
	content: "\e6c3";
}
.icon-icon--bowling-pin-ball:before {
	content: "\e6c4";
}
.icon-icon--diving-goggles:before {
	content: "\e6c5";
}
.icon-icon--sports-shoe:before {
	content: "\e6c6";
}
.icon-icon--soccer-shoe:before {
	content: "\e6c7";
}
.icon-icon--ice-skate:before {
	content: "\e6c8";
}
.icon-icon--cloud:before {
	content: "\e6c9";
}
.icon-icon--cloud-sun:before {
	content: "\e6ca";
}
.icon-icon--cloud-moon:before {
	content: "\e6cb";
}
.icon-icon--cloud-rain:before {
	content: "\e6cc";
}
.icon-icon--cloud-sun-rain:before {
	content: "\e6cd";
}
.icon-icon--cloud-moon-rain:before {
	content: "\e6ce";
}
.icon-icon--cloud-snow:before {
	content: "\e6cf";
}
.icon-icon--cloud-sun-snow:before {
	content: "\e6d0";
}
.icon-icon--cloud-moon-snow:before {
	content: "\e6d1";
}
.icon-icon--cloud-lightning:before {
	content: "\e6d2";
}
.icon-icon--cloud-sun-lightning:before {
	content: "\e6d3";
}
.icon-icon--cloud-moon-lightning:before {
	content: "\e6d4";
}
.icon-icon--cloud-wind:before {
	content: "\e6d5";
}
.icon-icon--cloud-raindrops:before {
	content: "\e6d6";
}
.icon-icon--cloud-sun-raindrops:before {
	content: "\e6d7";
}
.icon-icon--cloud-moon-raindrops:before {
	content: "\e6d8";
}
.icon-icon--cloud-snowflakes:before {
	content: "\e6d9";
}
.icon-icon--cloud-sun-snowflakes:before {
	content: "\e6da";
}
.icon-icon--cloud-moon-snowflakes:before {
	content: "\e6db";
}
.icon-icon--clouds:before {
	content: "\e6dc";
}
.icon-icon--cloud-add:before {
	content: "\e6dd";
}
.icon-icon--cloud-remove:before {
	content: "\e6de";
}
.icon-icon--cloud-error:before {
	content: "\e6df";
}
.icon-icon--cloud-fog:before {
	content: "\e6e0";
}
.icon-icon---cloud-sun-fog:before {
	content: "\e6e1";
}
.icon-icon--cloud-moon-fog:before {
	content: "\e6e2";
}
.icon-icon--moon-stars:before {
	content: "\e6e3";
}
.icon-icon--moon:before {
	content: "\e6e4";
}
.icon-icon--sun:before {
	content: "\e6e5";
}
.icon-icon--sunrise:before {
	content: "\e6e6";
}
.icon-icon--sunset:before {
	content: "\e6e7";
}
.icon-icon--sunset:before {
	content: "\e6e8";
}
.icon-icon--sunset:before {
	content: "\e6e9";
}
.icon-icon--rainbow:before {
	content: "\e6ea";
}
.icon-icon--umbrella:before {
	content: "\e6eb";
}
.icon-icon--raindrops:before {
	content: "\e6ec";
}
.icon-icon--raindrop:before {
	content: "\e6ed";
}
.icon-icon--sunglasses:before {
	content: "\e6ee";
}
.icon-icon--stars:before {
	content: "\e6ef";
}
.icon-icon--clouds:before {
	content: "\e6f0";
}
.icon-icon--moonrise:before {
	content: "\e6f1";
}
.icon-icon--moonset:before {
	content: "\e6f2";
}
.icon-icon--wind:before {
	content: "\e6f3";
}
.icon-icon--full-moon:before {
	content: "\e6f4";
}
.icon-icon--crescent:before {
	content: "\e6f5";
}
.icon-icon--half-moon:before {
	content: "\e6f6";
}
.icon-icon--gibbous-moon:before {
	content: "\e6f7";
}
.icon-icon--moon:before {
	content: "\e6f8";
}
.icon-icon--gibbous-moon:before {
	content: "\e6f9";
}
.icon-icon--half-moon:before {
	content: "\e6fa";
}
.icon-icon--crescent:before {
	content: "\e6fb";
}
.icon-icon--barometer:before {
	content: "\e6fc";
}
.icon-icon--compass-north:before {
	content: "\e6fd";
}
.icon-icon--compass-west:before {
	content: "\e6fe";
}
.icon-icon--compass-east:before {
	content: "\e6ff";
}
.icon-icon--compass-south:before {
	content: "\e700";
}
.icon-icon--air-sock:before {
	content: "\e701";
}
.icon-icon--tornado:before {
	content: "\e702";
}
.icon-icon--degree-fahrenheit:before {
	content: "\e703";
}
.icon-icon--degree-celsius:before {
	content: "\e704";
}
.icon-icon--warning:before {
	content: "\e705";
}
.icon-icon--compass:before {
	content: "\e706";
}
.icon-icon--compass:before {
	content: "\e707";
}
.icon-icon--compass:before {
	content: "\e708";
}
.icon-icon--compass:before {
	content: "\e709";
}
.icon-icon--thermometer:before {
	content: "\e70a";
}
.icon-icon--thermometer-low:before {
	content: "\e70b";
}
.icon-icon--thermometer-quarter:before {
	content: "\e70c";
}
.icon-icon--thermometer-half:before {
	content: "\e70d";
}
.icon-icon--thermometer-three-quarters:before {
	content: "\e70e";
}
.icon-icon--thermometer-full:before {
	content: "\e70f";
}
.icon-icon--lightning:before {
	content: "\e710";
}
.icon-icon--wind-turbine:before {
	content: "\e711";
}
.icon-icon--snowflake:before {
	content: "\e712";
}
.icon-icon--flashed-face:before {
	content: "\e713";
}
.icon-icon--flashed-face:before {
	content: "\e714";
}
.icon-icon--flashed-face-glasses:before {
	content: "\e715";
}
.icon-icon--face-missing-moth:before {
	content: "\e716";
}
.icon-icon--neutral-face:before {
	content: "\e717";
}
.icon-icon--smiling-face:before {
	content: "\e718";
}
.icon-icon--sad-face:before {
	content: "\e719";
}
.icon-icon--face-open-mouth:before {
	content: "\e71a";
}
.icon-icon--face-open-mouth:before {
	content: "\e71b";
}
.icon-icon--winking-face:before {
	content: "\e71c";
}
.icon-icon--laughing-face:before {
	content: "\e71d";
}
.icon-icon--laughing-face:before {
	content: "\e71e";
}
.icon-icon--smirking-face:before {
	content: "\e71f";
}
.icon-icon--stubborn-face:before {
	content: "\e720";
}
.icon-icon--neutral-face:before {
	content: "\e721";
}
.icon-icon--sad-face:before {
	content: "\e722";
}
.icon-icon--smiling-face:before {
	content: "\e723";
}
.icon-icon--smiling-face-eyebrows:before {
	content: "\e724";
}
.icon-icon--grinning-face-eyebrows:before {
	content: "\e725";
}
.icon-icon--sad-face-eyebrows:before {
	content: "\e726";
}
.icon-icon--neutral-face-eyebrows:before {
	content: "\e727";
}
.icon-icon--angry-face:before {
	content: "\e728";
}
.icon-icon--worried-face:before {
	content: "\e729";
}
.icon-icon--winking-face:before {
	content: "\e72a";
}
.icon-icon--angry-face-eyebrows:before {
	content: "\e72b";
}
.icon-icon--grinning-face:before {
	content: "\e72c";
}
.icon-icon--sad-face:before {
	content: "\e72d";
}
.icon-icon--grinning-face-eyebrows:before {
	content: "\e72e";
}
.icon-icon--fake-grinning-face-eyebrows:before {
	content: "\e72f";
}
.icon-icon--worried-face-eyebrows:before {
	content: "\e730";
}
.icon-icon--face-stuck-out-tongue:before {
	content: "\e731";
}
.icon-icon--face-stuck-out-tongue:before {
	content: "\e732";
}
.icon-icon--kissing-face:before {
	content: "\e733";
}
.icon-icon--grinning-face-teeth:before {
	content: "\e734";
}
.icon-icon--angry-face-teeth:before {
	content: "\e735";
}
.icon-icon--worried-face-teeth:before {
	content: "\e736";
}
.icon-icon--grinning-face-teeth:before {
	content: "\e737";
}
.icon-icon--face-open-mouth-eyebrows:before {
	content: "\e738";
}
.icon-icon--face-open-mouth-eyebrows:before {
	content: "\e739";
}
.icon-icon--angry-face-open-mouth-eyebrows:before {
	content: "\e73a";
}
.icon-icon--unamused-face-tightly-closed-eyes:before {
	content: "\e73b";
}
.icon-icon--sad-face--tightly-closed-eyes:before {
	content: "\e73c";
}
.icon-icon--kissing-face:before {
	content: "\e73d";
}
.icon-icon--face-closed-meyes:before {
	content: "\e73e";
}
.icon-icon--amused-face:before {
	content: "\e73f";
}
.icon-icon--amused-face-closed-eyes:before {
	content: "\e740";
}
.icon-icon--amused-face-closed-eyes:before {
	content: "\e741";
}
.icon-icon--face-closed-eyes-open-mouth:before {
	content: "\e742";
}
.icon-icon--face-closed-eyes-open-mouth:before {
	content: "\e743";
}
.icon-icon--face-closed-eyes-open-mouth:before {
	content: "\e744";
}
.icon-icon--laughing-face:before {
	content: "\e745";
}
.icon-icon--smiling-face:before {
	content: "\e746";
}
.icon-icon--grinning-face:before {
	content: "\e747";
}
.icon-icon--sad-face:before {
	content: "\e748";
}
.icon-icon--sad-face:before {
	content: "\e749";
}
.icon-icon--sad-face-closed-eyes:before {
	content: "\e74a";
}
.icon-icon--sad-face:before {
	content: "\e74b";
}
.icon-icon--smiling-face:before {
	content: "\e74c";
}
.icon-icon--astonished-face:before {
	content: "\e74d";
}
.icon-icon--astonished-face:before {
	content: "\e74e";
}
.icon-icon--face-moustache:before {
	content: "\e74f";
}
.icon-icon--face-moustache:before {
	content: "\e750";
}
.icon-icon--face-glasses:before {
	content: "\e751";
}
.icon-icon--face-sunglasses:before {
	content: "\e752";
}
.icon-icon--smirking-face-sunglasses:before {
	content: "\e753";
}
.icon-icon--middle-finger:before {
	content: "\e754";
}
.icon-icon--rock-n-roll:before {
	content: "\e755";
}
.icon-icon--high-five:before {
	content: "\e756";
}
.icon-icon--thumb-up:before {
	content: "\e757";
}
.icon-icon--thumb-down:before {
	content: "\e758";
}
.icon-icon--thumb-up:before {
	content: "\e759";
}
.icon-icon--thumb-down:before {
	content: "\e75a";
}
.icon-icon--two-fingers-swipe-left:before {
	content: "\e75b";
}
.icon-icon--two-fingers-swipe-right:before {
	content: "\e75c";
}
.icon-icon--two-fingers-swipe-up:before {
	content: "\e75d";
}
.icon-icon--two-fingers-swipe-down:before {
	content: "\e75e";
}
.icon-icon--two-fingers:before {
	content: "\e75f";
}
.icon-icon--three-fingers-double-tap:before {
	content: "\e760";
}
.icon-icon--two-fingers-resize-out:before {
	content: "\e761";
}
.icon-icon--two-fingers-resize-in:before {
	content: "\e762";
}
.icon-icon--two-fingers-rotate:before {
	content: "\e763";
}
.icon-icon--one-finger-swipe-left:before {
	content: "\e764";
}
.icon-icon--one-finger-swipe-right:before {
	content: "\e765";
}
.icon-icon--one-finger-swipe-up:before {
	content: "\e766";
}
.icon-icon--one-finger-swipe-down:before {
	content: "\e767";
}
.icon-icon--one-finger:before {
	content: "\e768";
}
.icon-icon--one-finger-double-tap:before {
	content: "\e769";
}
.icon-icon--one-finger-tap:before {
	content: "\e76a";
}
.icon-icon--one-finger-tap-hold:before {
	content: "\e76b";
}
.icon-icon--thumb-finger-tap:before {
	content: "\e76c";
}
.icon-icon--one-finger-click:before {
	content: "\e76d";
}
.icon-icon--three-fingers-swipe-left:before {
	content: "\e76e";
}
.icon-icon--three-fingers-swipe-right:before {
	content: "\e76f";
}
.icon-icon--three-fingers-swipe-up:before {
	content: "\e770";
}
.icon-icon--three-fingers-swipe-down:before {
	content: "\e771";
}
.icon-icon--three-fingers:before {
	content: "\e772";
}
.icon-icon--three-fingers-double-tap:before {
	content: "\e773";
}
.icon-icon--two-fingers-swipe-up:before {
	content: "\e774";
}
.icon-icon--one-finger-double-tap:before {
	content: "\e775";
}
.icon-icon--two-fingers-swipe-down:before {
	content: "\e776";
}
.icon-icon--two-fingers-swipe-right:before {
	content: "\e777";
}
.icon-icon--two-fingers-swipe-left:before {
	content: "\e778";
}
.icon-icon--one-finger-tap:before {
	content: "\e779";
}
.icon-icon--one-finger-tap-hold:before {
	content: "\e77a";
}
.icon-icon--one-finger-click:before {
	content: "\e77b";
}
.icon-icon--one-finger-swipe-horizontally:before {
	content: "\e77c";
}
.icon-icon--one-finger-swipe:before {
	content: "\e77d";
}
.icon-icon--two-fingers-double-tap:before {
	content: "\e77e";
}
.icon-icon--two-fingers-tap:before {
	content: "\e77f";
}
.icon-icon--one-finger-swipe-left:before {
	content: "\e780";
}
.icon-icon--one-finger-swipe-right:before {
	content: "\e781";
}
.icon-icon--one-finger-swipe-up:before {
	content: "\e782";
}
.icon-icon--one-finger-swipe-down:before {
	content: "\e783";
}
.icon-icon--file-numbers:before {
	content: "\e784";
}
.icon-icon--file-pages:before {
	content: "\e785";
}
.icon-icon--file-app:before {
	content: "\e786";
}
.icon-icon--file-png:before {
	content: "\e787";
}
.icon-icon--file-pdf:before {
	content: "\e788";
}
.icon-icon--file-mp3:before {
	content: "\e789";
}
.icon-icon--file-mp4:before {
	content: "\e78a";
}
.icon-icon--file-mov:before {
	content: "\e78b";
}
.icon-icon--file-jpg:before {
	content: "\e78c";
}
.icon-icon--file-key:before {
	content: "\e78d";
}
.icon-icon--file-html:before {
	content: "\e78e";
}
.icon-icon--file-css:before {
	content: "\e78f";
}
.icon-icon--file-java:before {
	content: "\e790";
}
.icon-icon--file-psd:before {
	content: "\e791";
}
.icon-icon--file-ai:before {
	content: "\e792";
}
.icon-icon--file-bmp:before {
	content: "\e793";
}
.icon-icon--file-dwg:before {
	content: "\e794";
}
.icon-icon--file-eps:before {
	content: "\e795";
}
.icon-icon--file-tiff:before {
	content: "\e796";
}
.icon-icon--file-ots:before {
	content: "\e797";
}
.icon-icon--file-php:before {
	content: "\e798";
}
.icon-icon--file-py:before {
	content: "\e799";
}
.icon-icon--file-c:before {
	content: "\e79a";
}
.icon-icon--file-sql:before {
	content: "\e79b";
}
.icon-icon--file-rb:before {
	content: "\e79c";
}
.icon-icon--file-cpp:before {
	content: "\e79d";
}
.icon-icon--file-tga:before {
	content: "\e79e";
}
.icon-icon--file-dxf:before {
	content: "\e79f";
}
.icon-icon--file-doc:before {
	content: "\e7a0";
}
.icon-icon--file-odt:before {
	content: "\e7a1";
}
.icon-icon--file-xls:before {
	content: "\e7a2";
}
.icon-icon--file-docx:before {
	content: "\e7a3";
}
.icon-icon--file-ppt:before {
	content: "\e7a4";
}
.icon-icon--file-asp:before {
	content: "\e7a5";
}
.icon-icon--file-ics:before {
	content: "\e7a6";
}
.icon-icon--file-dat:before {
	content: "\e7a7";
}
.icon-icon--file-xml:before {
	content: "\e7a8";
}
.icon-icon--file-yml:before {
	content: "\e7a9";
}
.icon-icon--file-h:before {
	content: "\e7aa";
}
.icon-icon--file-exe:before {
	content: "\e7ab";
}
.icon-icon--file-avi:before {
	content: "\e7ac";
}
.icon-icon--file-odp:before {
	content: "\e7ad";
}
.icon-icon--file-dotx:before {
	content: "\e7ae";
}
.icon-icon--file-xlsx:before {
	content: "\e7af";
}
.icon-icon--file-ods:before {
	content: "\e7b0";
}
.icon-icon--file-pps:before {
	content: "\e7b1";
}
.icon-icon--file-dot:before {
	content: "\e7b2";
}
.icon-icon--file-txt:before {
	content: "\e7b3";
}
.icon-icon--file-rtf:before {
	content: "\e7b4";
}
.icon-icon--file-m4v:before {
	content: "\e7b5";
}
.icon-icon--file-flv:before {
	content: "\e7b6";
}
.icon-icon--file-mpg:before {
	content: "\e7b7";
}
.icon-icon--file-quicktime:before {
	content: "\e7b8";
}
.icon-icon--file-mid:before {
	content: "\e7b9";
}
.icon-icon--file-3gp:before {
	content: "\e7ba";
}
.icon-icon--file-aiff:before {
	content: "\e7bb";
}
.icon-icon--file-aac:before {
	content: "\e7bc";
}
.icon-icon--file-wav:before {
	content: "\e7bd";
}
.icon-icon--file-zip:before {
	content: "\e7be";
}
.icon-icon--file-ott:before {
	content: "\e7bf";
}
.icon-icon--file-tgz:before {
	content: "\e7c0";
}
.icon-icon--file-dmg:before {
	content: "\e7c1";
}
.icon-icon--file-iso:before {
	content: "\e7c2";
}
.icon-icon--file-rar:before {
	content: "\e7c3";
}
.icon-icon--file-gif:before {
	content: "\e7c4";
}
.icon-icon--document-file-numbers:before {
	content: "\e7c5";
}
.icon-icon--document-file-pages:before {
	content: "\e7c6";
}
.icon-icon--document-file-app:before {
	content: "\e7c7";
}
.icon-icon--document-file-png:before {
	content: "\e7c8";
}
.icon-icon--document-file-pdf:before {
	content: "\e7c9";
}
.icon-icon--document-file-mp3:before {
	content: "\e7ca";
}
.icon-icon--document-file-mp4:before {
	content: "\e7cb";
}
.icon-icon--document-file-mov:before {
	content: "\e7cc";
}
.icon-icon--document-file-jpg:before {
	content: "\e7cd";
}
.icon-icon--document-file-key:before {
	content: "\e7ce";
}
.icon-icon--document-file-html:before {
	content: "\e7cf";
}
.icon-icon--document-file-css:before {
	content: "\e7d0";
}
.icon-icon--document-file-java:before {
	content: "\e7d1";
}
.icon-icon--document-file-psd:before {
	content: "\e7d2";
}
.icon-icon--document-file-ai:before {
	content: "\e7d3";
}
.icon-icon--document-file-bmp:before {
	content: "\e7d4";
}
.icon-icon--document-file-dwg:before {
	content: "\e7d5";
}
.icon-icon--document-file-eps:before {
	content: "\e7d6";
}
.icon-icon--document-file-tiff:before {
	content: "\e7d7";
}
.icon-icon--document-file-ots:before {
	content: "\e7d8";
}
.icon-icon--document-file-php:before {
	content: "\e7d9";
}
.icon-icon--document-file-py:before {
	content: "\e7da";
}
.icon-icon--document-file-c:before {
	content: "\e7db";
}
.icon-icon--document-file-sql:before {
	content: "\e7dc";
}
.icon-icon--document-file-rb:before {
	content: "\e7dd";
}
.icon-icon--document-file-cpp:before {
	content: "\e7de";
}
.icon-icon--document-file-tga:before {
	content: "\e7df";
}
.icon-icon--document-file-dxf:before {
	content: "\e7e0";
}
.icon-icon--document-file-doc:before {
	content: "\e7e1";
}
.icon-icon--document-file-odt:before {
	content: "\e7e2";
}
.icon-icon--document-file-xls:before {
	content: "\e7e3";
}
.icon-icon--document-file-docx:before {
	content: "\e7e4";
}
.icon-icon--document-file-ppt:before {
	content: "\e7e5";
}
.icon-icon--document-file-asp:before {
	content: "\e7e6";
}
.icon-icon--document-file-ics:before {
	content: "\e7e7";
}
.icon-icon--document-file-dat:before {
	content: "\e7e8";
}
.icon-icon--document-file-xml:before {
	content: "\e7e9";
}
.icon-icon--document-file-yml:before {
	content: "\e7ea";
}
.icon-icon--document-file-h:before {
	content: "\e7eb";
}
.icon-icon--document-file-exe:before {
	content: "\e7ec";
}
.icon-icon--document-file-avi:before {
	content: "\e7ed";
}
.icon-icon--document-file-odp:before {
	content: "\e7ee";
}
.icon-icon--document-file-dotx:before {
	content: "\e7ef";
}
.icon-icon--document-file-xlsx:before {
	content: "\e7f0";
}
.icon-icon--document-file-ods:before {
	content: "\e7f1";
}
.icon-icon--document-file-pps:before {
	content: "\e7f2";
}
.icon-icon--document-file-dot:before {
	content: "\e7f3";
}
.icon-icon--document-file-txt:before {
	content: "\e7f4";
}
.icon-icon--document-file-rtf:before {
	content: "\e7f5";
}
.icon-icon--document-file-m4v:before {
	content: "\e7f6";
}
.icon-icon--document-file-flv:before {
	content: "\e7f7";
}
.icon-icon--document-file-mpg:before {
	content: "\e7f8";
}
.icon-icon--document-file-qt:before {
	content: "\e7f9";
}
.icon-icon--document-file-mid:before {
	content: "\e7fa";
}
.icon-icon--document-file-3gp:before {
	content: "\e7fb";
}
.icon-icon--document-file-aiff:before {
	content: "\e7fc";
}
.icon-icon--document-file-aac:before {
	content: "\e7fd";
}
.icon-icon--document-file-wav:before {
	content: "\e7fe";
}
.icon-icon--document-file-zip:before {
	content: "\e7ff";
}
.icon-icon--document-file-ott:before {
	content: "\e800";
}
.icon-icon--document-file-tgz:before {
	content: "\e801";
}
.icon-icon--document-file-dmg:before {
	content: "\e802";
}
.icon-icon--document-file-iso:before {
	content: "\e803";
}
.icon-icon--document-file-rar:before {
	content: "\e804";
}
.icon-icon--document-file-gif:before {
	content: "\e805";
}
