$sidebar-background: rgba(209, 209, 211, 0.7)

html
  font-size: 11px
  background: url('http://res.cloudinary.com/dnmxekyjo/image/upload/g_auto/w_auto,q_auto,f_auto/v1473796202/main-photo-document_m9zewt.jpg') no-repeat center center fixed

body
  margin: 0
  background-color: transparent

span
  font-size: 1.5rem

*,*:after,*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

//@import 'components/Sidebars/menuSidebarStyle'
//@import 'components/Sidebars/documentsSidebarStyle'
//@import 'components/Home/homeStyle'
//@import 'components/modals/modalsStyle'
//@import 'components/Documents/documentsStyle'

#main-container
  min-height: 100vh
  background-size: cover

.poldocs-button
  border-radius: 0
  border-top-right-radius: 5px
  margin-right: 5px
  color: #000000

  &:hover
    background-color: rgba(245, 245, 245, 1)
    color: #000000
    border-color: rgba(209, 209, 211, 1)

.display-none
  display: none

.display-block
  display: block

.float-right
  float: right

.no-styling-link, .no-styling-link:hover, .no-styling-link:active, .no-styling-link:visited, .no-styling-link:focus
  text-decoration: none
  color: inherit
  padding: 0 !important

.looks-like-link
  color: blue
  text-decoration: underline
  cursor: pointer

  &.warning
    color: orange

button.close
  span
    font-size: 3rem

//Loading spinner
.loader1
  position: absolute
  width: 100%
  height: 100%
  z-index: 9
  background-color: rgba(0,0,0, .3)
  top: 0
  left: 0

.loader, .loader:before, .loader:after
  background-color: black
  -webkit-animation: load1 1s infinite ease-in-out
  animation: load1 1s infinite ease-in-out
  width: 1em
  height: 4em
  top: calc(50% - 4em)

.loader
  color: whitesmoke
  background-color: whitesmoke
  text-indent: -9999em
  margin: 88px auto
  position: relative
  font-size: 11px
  transform: translateZ(0)
  animation-delay: -0.16s
.loader:before, .loader:after
  background-color: whitesmoke
  position: absolute
  top: 0
  content: ''
.loader:before
  left: -1.5em
  animation-delay: -0.32s
.loader:after
  left: 1.5em
@keyframes load1
  0%, 80%, 100%
    box-shadow: 0 0
    height: 4em
  40%
    box-shadow: 0 -2em
    height: 5em



