
#content-container-home
  margin-left: 8%
  display: flex
  flex-direction: column
  align-items: center
  min-height: 100vh
  justify-content: center

  #home-modal
    align-items: center
    display: flex
    flex-direction: column
    min-height: 40vh
    justify-content: center
    background-color: rgba(245,245,245,0.9)
    width: 80%
    max-width: 1000px
    border-top-right-radius: 25px
    padding: 5px
    margin-top: 1vh
    margin-bottom: 1vh
    padding-bottom: 3vh

@media screen and (max-width: 1000px)
  #content-container-home
    margin-left: 80px

#h1-home
  margin-top: 0
  font-family: 'Exo', sans-serif
  font-weight: 300
  font-size: 6rem

#tagline
  font-family: 'Raleway', sans-serif
  font-weight: 200
  margin-top: 0
  font-size: 2.5rem

#front-search
  width: 80%
  max-width: 700px
  height: 50px
  display: flex
  flex-direction: row
  margin-top: 3%
  position: relative

  #home-search-input
    width: 95%
    height: 100%
    font-family: 'Raleway', sans-serif
    font-weight: 200
    font-size: 2rem
    text-align: center
    border-bottom-left-radius: 15px
    border-top-left-radius: 15px
    border-style: dotted
    background-color: rgb(245, 245, 245)
    &:focus
      outline: none
    &.suggestionsAvailable
      border-bottom-left-radius: 0

  #home-search-submit
    display: inline-flex
    justify-content: center
    height: 100%
    width: 5%
    background-color: #000000
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    cursor: pointer
    &.suggestionsAvailable
      border-bottom-right-radius: 0

    .fa-search
      color: rgba(245, 245, 245, 1)
      align-self: center
      font-size: 2rem

.homepageSuggestions-wrapper
  width: 80%
  max-width: 700px
  background-color: rgb(245, 245, 245)
  border-left: 1px solid black
  border-right: 1px solid black

  .homepageSuggestion
    background-color: rgb(245, 245, 245)
    border-bottom: 1px solid black
    display: flex
    align-items: center

    .result-icon
      padding: 15px
      font-size: 3rem

    .result-meta
      padding: 5px

      .suggestionMetaItem
        margin: 0
        font-family: 'Exo', sans-serif
        font-weight: 300
        font-size: 1.25rem

        .searchHit
          color: #2a3fde

.hint
  font-family: 'Raleway', sans-serif
  font-weight: 300
  font-size: 1.75rem
  margin-top: 3%
  max-width: 600px
  text-align: justify
  &.suggestionsAvailable
    display: none