
.poldocs-modal .modal-content
  background-color: #000000
  color: rgba(245, 245, 245, 1)
  border-radius: 0
  border-top-right-radius: 25px
  font-family: 'Exo', sans-serif
  font-weight: 300

  .modal-header
    text-align: center

    .close
      color: rgba(245, 245, 245, 1)
      opacity: 1

    .modal-title
      font-weight: 300
      font-size: 2.5rem

  .modal-body
    .alert
      font-size: 2rem
      padding: 10px
      .fa
        margin-right: 1rem

  #modal-body-log-in-options
    display: flex

    #log-in-form
      width: 45%
      font-weight: 200

    #modal-body-log-in-social-strategies
      width: 45%
      margin-left: 5%
      margin-top: 24px

      #linkedInButtonWrapper
        max-width: 100%
        text-align: center
        cursor: pointer

        #linkedInLogIn
          height: 35px