.dossier-list-contains-document-full-view
  display: block !important

.timeline-document-full-view
  margin: 0
  width: 100% !important

#timeline
  list-style-type: none
  position: relative
  margin: 0 auto
  padding: 0px
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==)
  background-repeat: repeat-y
  background-position: 50% 0
  height: 100%
  overflow: hidden
  border-right: 1px solid whitesmoke

  .timeline-header
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 25%
    text-align: center
    font-size: 1.5rem
    font-weight: 600
    background-color: whitesmoke
    border: 1px solid black
    clear: both


.timeline-item
  display: block
  width: 45%
  position: relative
  float: right
  clear: right
  margin: 1em 2.5%
  list-style-type: none
  background-color: whitesmoke
  border: 1px solid black

  .timeline-item-data-item
    width: 100%
    padding: 5px

    &.timeline-label
      background-color: #d8d8d8
      font-size: 1.25rem
      font-weight: 500

    .timeline-event-date
      font-size: 1.25rem
      font-weight: 600

  @media all and (max-width: 600px)
    width: 85%

.timeline-item:nth-child(even)
  float: left
  clear: left

.timeline-item:nth-child(odd)
  @media all and (min-width: 600px)
    margin-top: 4em

.timeline-item
  //&:after
  //  @media all and (min-width: 650px)
  //    display: block
  //    content: ' '
  //    height: 9px
  //    width: 9px
  //    background: lighten(blue,30%)
  //    border-radius: 50%
  //    position: absolute
  //    left: -5%
  //    top: 1.5em
  //    border: 2px solid white
  &:after
    position: absolute
    left: -20px
    top: 50%
    content: '   '
    height: 0
    width: 0
    border-left: 10px solid transparent
    border-right: 10px solid black
    border-bottom: 10px solid transparent
    border-top: 10px solid transparent
  &:nth-child(even):after
    border-left: 10px solid black
    border-right: 10px solid transparent
    left: 100%
