#outer-container
  margin-left: 8vw
  min-height: 100vh
  display: flex
  align-items: center
  font-family: 'Raleway', sans-serif
  font-weight: 300

  @media screen and (max-width: 1000px)
    #outer-container
      margin-left: 80px
      margin-right: 250px

  #list-container
    background-color: rgba(209, 209, 211, 0.7)
    min-width: 400px
    text-align: center
    width: 100%
    min-height: 100vh

    #list-header
      padding: 1rem

    #list-wrapper
      display: flex
      flex-direction: column
      flex-wrap: wrap
      align-items: center
      margin-left: 1%

    #list-h1
      margin: 0

.list-loaded-animation-enter
  opacity: 0.1

.list-loaded-animation-enter-active
  opacity: 1
  transition: opacity 500ms ease-in

.list-loaded-animation-leave
  opacity: 1

.list-loaded-animation-leave-active
  opacity: .1
  transition: opacity 300ms ease-in

