#doc-list-paginator-outer
  margin-bottom: 2vh

  #doc-list-paginator-wrapper
    display: flex
    margin: 0 auto
    border: 1px solid black
    width: 50%
    align-items: center

    .paginator-item:not(:last-child)
      border-right: 1px solid black

    .paginator-item
      display: inline
      padding: .75rem
      font-size: 1.75rem
      flex-grow: 1
      justify-content: center
      cursor: pointer
      width: 5vw

    .paginator-active
      background-color: black
      color: whitesmoke