#search-container
  background-color: rgba(209, 209, 211, 0.7)
  width: 100%
  min-height: 100vh

#query-builder
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  min-height: 100vh

  .poldocs-button
    float: right
    border: 1px solid black
    cursor: pointer
    margin-bottom: 1rem
    margin-right: 1rem
    padding: 5px

  .query-builder-title
    text-align: center
    width: 100%
    padding: 1rem

    .fa-search
      margin-left: 5px

  #query-builder-page-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    #query-builder-page-wrapper
      width: 75%
      min-width: 75%
      background-color: whitesmoke
      position: relative

      h2
        text-align: center
        margin-bottom: 3rem

      .on-off-slider
        position: relative
        width: 7rem
        height: 3rem
        background: black
        border-radius: 10px
        &:before
          position: absolute
          color: #ccffcc
          font-size: 1rem
          line-height: 1rem
          top: calc(50% - 0.5rem)
          left: 0.75rem
        &:after
          position: absolute
          color: red
          font-size: 1rem
          line-height: 1rem
          top: calc(50% - 0.5rem)
          right: 1rem

        //  styling for label within on-off-slider
        input[type="checkbox"] + label
          display: block
          width: 3rem
          height: 2.5rem
          top: calc(50% - 1.25rem)
          left: 0.25rem
          cursor: pointer
          position: absolute
          border-radius: 7.5px
          z-index: 1
          background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
          transition: all 0.4s ease

        input[type="checkbox"]:checked + label
          left: 3.5rem
          transition: all 0.4s ease

      //Start paginator
      #query-builder-paginator
        display: flex
        justify-content: space-between
        position: relative
        width: 70%
        margin: 2rem 15%

        #query-builder-paginator-line
          position: absolute
          top: calc(50% - 3px)
          width: 100%
          height: 3px
          background-color: black
          z-index: 1

        .query-builder-paginator-circle
          display: flex
          justify-content: center
          align-items: center
          height: 50px
          width: 50px
          background-color: whitesmoke
          text-align: center
          border: 1px solid black
          border-radius: 50%
          z-index: 2

          span
            font-size: 2rem
            font-weight: 400

        .query-builder-paginator-circle-active
          background-color: black
          color: white

      //  End paginator

      //All checkboxes hidden
      #query-builder-selector
        input[type="checkbox"]
          visibility: hidden

        //  Icons for collection (page 2]
        label i
          font-size: 3.5rem
          text-align: center

        //  Centering items in content div
        #query-builder-selector-page-1-collections, #query-builder-selector-page-1-select-source, #query-builder-selector-page-1
          display: flex
          flex-direction: column
          align-items: center

          .icons
            display: flex
            justify-content: center
            width: 75%

          .source-item
            display: block

          //  Styling for collection items
          input[type="checkbox"] + .collection-item
            display: flex
            flex-direction: column
            align-items: center
            width: 50%
            background-color: #ccffcc
            border: 1px solid green
            box-shadow: 5px 5px 5px #92ce92
            margin: 1rem
            padding: 1rem

            span
              color: black
              text-align: center

          input[type="checkbox"]:checked + .collection-item
            background-color: rgba(253, 3, 3, 0.24)
            border: 1px solid red
            box-shadow: 5px 5px 5px rgba(253, 3, 3, 0.24)

        #query-builder-selector-page-1, #query-builder-selector-page-3-select-document-type, #query-builder-selector-page-5
          display: flex
          flex-direction: column
          align-items: center

          .on-off-slider
            &:before
              content: 'YES'
            &:after
              content: 'NO'

        //End styling collection items

        //Start page3
        .page3-selector-collection-wrapper
          display: flex
          margin: 0.5rem

        .page3-selector-collection
          width: 50%

          .search-for-type
            padding-left: 1rem

          .page2-selector-level-label
            padding-left: 2rem

          .page2-selector-level
            width: 50%

          .page2-selector-items
            padding-left: 3rem

            .page2-selector-item
              width: 100%
              .fa
                float: right
                font-size: 1rem


            input
              display: none

            input[type="checkbox"] + .page2-selector-item
              border: 1px solid red
              .fa
                color: red

            input[type="checkbox"]:checked + .page2-selector-item
              border: 1px solid green
              .fa
                color: green

          .page2-selector-level-toggle-cut-off
            float: right

          .page2-selector-level-wrapper
            display: flex
        //Start page 4
        #query-builder-selector-page-4
          #date-selectors-container
            display: flex
            flex-wrap: wrap
            .date-selector-wrapper
              width: 33%
              .date-pickers
                display: flex
                justify-content: center
              input[type="checkbox"] + label
                display: flex
                flex-direction: column
                min-height: 10vh
                align-items: center
                background-color: rgba(253, 3, 3, 0.24)
                border: 1px solid red
                box-shadow: 5px 5px 5px rgba(253, 3, 3, 0.24)
                margin: 1rem
                padding: 1rem

                span
                  color: black
                  text-align: center

              input[type="checkbox"]:checked + label
                background-color: #ccffcc
                border: 1px solid green
                box-shadow: 5px 5px 5px #92ce92

        //  Start page 5
        #query-builder-selector-page-5
          margin-bottom: 1rem
          .selected-author-item
            display: inline-flex
            background-color: #ccffcc
            border: 1px solid green
            box-shadow: 5px 5px 5px #92ce92
            width: 25%

          #suggested-authors
            width: 50%
            .suggested-author-item
              border: 1px solid black
              width: 100%
              &:hover
                background-color: white

          #allow-null-values-checkbox
            display: flex
            flex-direction: column
            align-items: center

          #author-search-field-wrapper
            display: flex
            flex-direction: column
            align-items: center
            input[type="text"]
              width: 150px


        .query-builder-buttons
          bottom: 0
          padding-bottom: 1rem
          width: 100%

          .float-left
            float: left

          .warning-text
            color: red
            font-size: 1.5rem
            font-weight: 600
            text-align: center
            margin-bottom: 1rem

          .poldocs-button-disabled
            opacity: .5
            cursor: not-allowed

//Page 1 content
#query-builder-selector-page-1
  //Search choices beside textarea
  .page1-simple-search-choices
    width: 50%
    display: flex
    flex-wrap: wrap
    input
      display: none
    .page1-search-attribute-choice
      width: 50%
      input[type="checkbox"] + label
        display: flex
        align-items: center
        justify-content: center
        border: 2px solid green
        width: 100%
        height: 100%
        margin-bottom: 0
        position: relative
        &:after
          display: inline-block
          font: normal normal normal 14px/1 FontAwesome
          font-size: inherit
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          position: absolute
          right: 5%
          line-height: 1rem
          top: calc(50% - 0.5rem)
          color: green
          content: "\f00c"

      input[type="checkbox"]:checked + label
        border: 2px solid red
        &:after
          content: "\f00d"
          color: red

  //Simple search
  .page1-simple-search
    min-width: 50%
    .page1-simple-search-text-field-container
      display: flex

      //  textarea
      .page1-simple-search-text-field-wrapper
        width: 50%
        #page1-simple-search-text-field
          width: 100%
          height: 100%

  //  Advanced search
  #page1-advanced-search
    width: 80%
    background-color: whitesmoke
    border: 1px solid black
    margin-top: 2rem
    #advanced-search-controls
      background-color: black
      color: white
      width: 100%
      padding: 0.5rem 2rem
      h3
        display: inline-block
      #advanced-search-new-group
        float: right
    .page1-advanced-search-group
      width: 100%
      padding: 0.5rem 2rem
      .advanced-search-group-controls
        h4
          display: inline-block
        .advanced-search-edit-group, .advanced-search-delete-group
          float: right
        .page1-simple-search-choices
          .page1-search-attribute-choice
            width: 25%
      .advanced-search-group-relation
        .group-relation-choice-radio-wrapper
          display: inline-block

      .advanced-search-group-element
        margin-top: 1rem
        margin-left: 1rem
        h5
          display: inline-block
        .advanced-search-delete-group
          float: right
        .advanced-search-group-element-text
          margin-left: 1rem
        .element-relation-choice-radio-wrapper
          display: inline-block
        .advanced-search-group-element-choices
          display: inline-block
          margin-right: 1rem
          .choice-radio-wrapper
            display: inline-block
          .advanced-search-group-elements-choice
            border: 1px solid black
        .advanced-search-group-element-extras
          display: inline-block
          .extra-checkbox-wrapper
            display: inline-block
          input[type="checkbox"]
            display: none
          input[type="checkbox"] + label
            border: 2px solid red
            padding: 5px
            width: 100%
            height: 100%
            padding-right: 2rem
            position: relative
            &:after
              display: inline-block
              font: normal normal normal 14px/1 FontAwesome
              font-size: inherit
              text-rendering: auto
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              position: absolute
              right: 5%
              line-height: 1rem
              top: calc(50% - 0.5rem)
              color: red
              content: "\f00d"
          input[type="checkbox"]:checked + label
            border: 2px solid green
            &:after
              content: "\f00c"
              color: green







//Saved searches for logged in user
.query-builder-logged-in
  width: 15% !important
  position: absolute
  align-items: center

  .query-builder-title
    transform: rotate(-90deg)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    left: -25%

    .vertical-text .rotate
      display: block

#saved-searches
  display: inline-block
  width: 70vw
  background-color: rgba(209, 209, 211, 0.7)
  height: 75vh

  #saved-searches-title
    width: 92.5%
    left: 0
    background-color: whitesmoke
    font-size: 1.5rem
    text-align: center
    font-weight: 600
    padding: 15px

  #saved-searches-list
    .search-list-item
      border: 1px solid black
      width: calc(92.5% / 3)
      .search-list-item-title
        background-color: whitesmoke

      .search-list-item-data
