#gutter
  width: 1%

#list-item-width
  width: 32%

#list-wrapper
  .list-item
    text-align: left
    display: inline-flex
    width: 32%
    margin-bottom: 2vh

    @media screen and (max-width: 1000px)
      #doc-container
        width: calc(100vw - 330px)


    table
      border: 1px solid black
      border-collapse: collapse
      background-color: #d8d8d8

      th
        padding: 0.25rem
        font-size: 1.1rem

      .list-item-title-row
        background-color: whitesmoke
        cursor: pointer

      .list-item-title-table-data
        width: 100%

        .f32 .flag
          float: right

      .file-type-icon
        font-size: 3rem
        margin-right: .25rem

    .list-item-title
      display: inline
      font-size: 1.35rem

  .list-item-active
    background-color: #d8d8d8
    min-height: 75vh
    width: 97%
    flex-grow: 2
    order: -1
    border: 1px solid whitesmoke

    .close-button-cell
      vertical-align: top

      span
        font-size: 2.5rem

    .search-result-active
      width: 40%
      float: right
      border: none !important

      th
        padding: 0.75rem
        vertical-align: top

      .list-item-title-row th
        vertical-align: middle

    iframe, #timeline, #opgemaakt-html
      width: 60%
      float: left

//Styling for officiële bekendmakingen opgemaakte stukken
#opgemaakt-html
  background-color: whitesmoke
  border: 1px solid black
  padding: 0.5em

  .dossiertitel
    .dossiernummer
      display: block

  .stuk
    .stuktitel
      .stuknummer
        display: block